.sidenav {
    height:100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color: white;
    padding-top: 20px;
    border-right: 1px solid #0000001a;
}

*{
    font-family: Arial, Helvetica, sans-serif;
  }


.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: black;
    display: block;
  }

.sidenav a.active{
    background-color: red;
}

.sidenav a:hover{
    background-color:#ff7a008c ;
}

.main{
    margin-left: 180px;
}

.general{
    border:solid;
    height: 100vh;
    border-width: 1px;
    border-radius: 25px;
    border-color: #0000001a;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 25px;
}

.taskpreview{
    border:solid;
    height: 100px;
    border-width: 1px;
    border-radius: 25px;
    border-color: #0000001a;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 25px;
}

.projectpreview{
    border:solid;
    height: 100px;
    width: 300px;
    border-width: 1px;
    border-radius: 25px;
    border-color: #0000001a;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 25px;
    float:left;
}

.forumspreview{
    border:solid;
    height: 100px;
    width: 300px;
    border-width: 1px;
    border-radius: 25px;
    border-color: #0000001a;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 25px;
    float:left;
}

.nav-right{
    float:right;
}



.nav-right a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: black;
    display: block;
  }

.nav-center {
    float:none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-center a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: black;
    display: block;
  }