/* @font-face {
    font-family: blippoBlackFont;
    src: url("Blippo Black Regular.otf");
} */

html, body {
    height: 100%;
    overflow: hidden;
    /* background-image: url('img/bgfinal.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;   */
}

body {
    /* background-image: url('img/bgfinal.jpg');
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;   */
}

.container-fluid {
    background-image: url("img/bgfinal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

* {
    font-size: var(--body);
    /* font-family: Arial, Helvetica, sans-serif; */
}

#main {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 2px;
}

.border {}

form {
    padding: 10px;
}

.form-group {
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    margin-top: 10px;
    text-align: center;
    font-family: blippoBlackFont;
    text-shadow: 1px 1px 1px #000000;
}

.btn.btn-primary {
    text-align: center;
    border-radius: 30px;
    display: block;
    width: 100%;
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.btn.btn-primary:hover {
    background-color: white;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

::placeholder {
    text-align: center;
}

.centered-content {
    max-width: 400px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 1.5rem;
    border-radius: 30px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 33%, rgba(255, 221, 160, 0.7645915055475315) 100%);
    border-radius: 30px;
    border: 1px solid #ffeaad;
}

input {
    text-align: center;
}

#changeEmail {
    text-decoration: none;
    color: var(--accent-color);
}

#forgotPassword {
    text-decoration: none;
    color: var(--accent-color);
    display: block;
    text-align: center;
    padding-top: 20px;
}

#tryAgain {
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    color: var(--accent-color);
}

#resetPassword {
    text-decoration: none;
    display: block;
    text-align: center;
}

.form-control {
    border-radius: 20px !important;
}
