/* body {
    font-family: var(--font-family);
    background-color: var(--window-background);
    color: var(--text-color);
    margin-left: 50px;
} */

h1 {
    font-size: var(--title-1);
    color: var(--placeholder-text-color);
}

#pname {
    border: 0;
    font-size: var(--title-2);
    background-color: var(--window-background);
}

#pbrief {
    width: 90%;
    font-size: var(--title-3);
    margin-right: 50px;
    border-radius: 5px;
    background-color: var(--window-background);
}

#closebtn {
    color: var(--placeholder-text-color);
    font-size: var(--extra-large-title);
    width: 2%;
    cursor: pointer;
}

#submitBtn {
    color: white;
    background-color: var(--accent-color);
    padding: 15px 30px;
    border: none;
    font-size: var(--title-3);
    overflow: hidden;
    box-shadow: 0px 4px var(--secondary-accent-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: fixed;
    z-index: 1;
    text-align: center;
    border-radius: 30px;
}

#submitBtn:hover {
    background-color: #FFC472;
}

#project-deadline {
    color: var(--accent-color);
    font-size: var(--title-3);
    background-color: var(--window-background);
}

.container {
    border: solid;
    border-color: #0000001a;
    width: 300px;
    height: 100px;
    font-size: var(--body);
    overflow-y: scroll;
}

@media screen and (max-width:350px) {
    .container {
        width: 100%;
    }

    #pname {
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    #project-deadline {
        width: 100%;
    }
}
