header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

#forum-topics {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 122, 0, 1);
}

#topic-dropdown {
    background-color: #fff;
    color: rgba(255, 122, 0, 1);
    font-size: inherit;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 5px;
    padding-right: 20px;
    position: relative;
}

.dropdown-wrapper {
    position: relative;
    display: inline-block;
    margin-left: -10px;
}

.dropdown-wrapper::after {
    content: "";
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid rgba(255, 122, 0, 1);
    pointer-events: none;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

#post-topic {
    background-color: transparent;
    color: rgba(255, 122, 0, 1);
    border: none;
    font-size: 50px;
    float: right;
    cursor: pointer;
    margin-top: -60px;
}

.forum-topic {
    display: flex;
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.topic-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: 20px;
}

.topic-content h2 {
    font-size: 24px;
    margin: 0;
}

.topic-label {
    font-weight: bold;
    color: rgba(255, 122, 0, 1);
}

.question-title {
    color: rgba(0, 0, 0, 0.85);
}

.topic-content h3 {
    font-size: 22px;
    margin: 5px 0;
    color: #777;
}

.topic-content p {
    font-size: 19px;
    margin-top: 10px;
}

.topic-content a {
    color: rgba(255, 122, 0, 1);
    text-decoration: underline;
}

.read-link:hover {
    color: rgba(217, 94, 0, 1);
}

.topic-content button {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.85);
    border: 1px solid black;
    padding: 3px 120px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.topic-content button::before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("plane-icon.png");
    background-size: cover;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.topic-content button:hover, #post-topic:hover {
    background-color: rgba(217, 94, 0, 1);
    color: #fff;
}

.forum-topic:hover {
    background-color: #f7f7f7;
}

button, .read-link, #topic-dropdown {
    transition: all 0.3s ease;
}
