main {
    /* max-width: 1000px; */
    margin: 0 auto;
}

#forum-topics {
    background-color: var(--window-background);
    /* border: 2px solid var(--separator-color); */
    border-radius: 10px;
    padding: 20px;
}

#topic-dropdown {
    background-color: var(--window-background);
    color: var(--accent-color);
    font-size: inherit;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 5px;
    padding-right: 20px;
    position: relative;
}

.dropdown-wrapper {
    position: relative;
    display: inline-block;
    margin-left: -10px;
}

.dropdown-wrapper::after {
    content: "";
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid var(--accent-color);
    pointer-events: none;
}

h1 {
    font-size: var(--title-1);
    margin-top: 0;
    margin-bottom: 20px;
}

#post-topic {
    background-color: transparent;
    color: var(--accent-color);
    border: none;
    font-size: 50px;
    float: right;
    cursor: pointer;
    margin-top: -75px;
}

.forum-topic {
    display: flex;
    margin-top: 20px;
    padding: 20px;
    background-color: var(--tertiary-fill-color);
    border-radius: 10px;
    box-shadow: 0 2px 2px var(--shadow-color);
    margin-bottom: 20px;
}

.topic-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.topic-content h2 {
    font-size: var(--title-2);
    margin: 0;
}

.topic-label {
    font-weight: bold;
    color: var(--accent-color);
}

.question-title {
    color: var(--label-color);
}

.topic-content h3 {
    font-size: var(--title-3);
    margin: 5px 0;
}

.topic-content p {
    font-size: var(--body);
    margin-top: 10px;
}

.read-link {
    color: var(--link-color);
    text-decoration: underline;
}

.read-link:hover {
    color: var(--accent-color);
}

.topic-content button {
    background-color: transparent;
    color: var(--label-color);
    border: 1px solid var(--tertiary-label-color);
    padding: 3px 120px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.topic-content button::before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("/assets/plane-icon.png");
    background-size: cover;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.topic-content button:hover, #post-topic:hover {
    background-color: var(--accent-color);
    color: var(--selected-content-text-color);
}

main button, .read-link, #topic-dropdown {
    transition: all 0.3s ease;
}
