/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
} */

.modal-container {
    background-color: var(--window-background);
    width: 95%;
    padding: 0 15px;
    padding-bottom: 60px;
    border-radius: 10px;
    position: relative;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.flex-row {
    justify-content: space-between;
}

.exit-btn {
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
    color: var(--secondary-label-color);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.input {
    flex: 5;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    flex: 2.2;
    font-size: var(--title-2);
    outline: none;
    background-color: var(--tertiary-fill-color);
}

.textarea {
    width: 100%;
    height: 600px;
    padding: 10px;
    border: 1px solid var(--separator-color);
    border-radius: 5px;
    font-size: var(--body);
    resize: none;
    background-color: var(--quaternary-fill-color);
}

.post-btn {
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 5px var(--shadow-color);
    position: absolute;
    right: 20px;
    width: 100px;
    height: 40px;
    margin-top: 45px;
}

.envelope-icon {
    margin-right: 8px;
}
