body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display:flex
}

main {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 122, 0, 1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: relative;
}

.header h1 {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    z-index: 2; 
}

.topic-color {
    color: rgba(255, 122, 0, 1); 
}

.question-title-color {
    color: rgba(0, 0, 0, 0.85);
}


.exit-button {
    background: none;
    border: none;
    font-size: 60px;
    cursor: pointer;
    color: #999; 
    width: 80px; 
    height: 80px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    transition: background-color 0.3s; 
}

.user-name,.user-avatar {
    margin-right: 100px;
}

.author-info {
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.author-avatar,.user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}



.author {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.content-box p {
    position: relative;
    border: 1px solid #ccc;  
    padding: 20px 40px;      
    border-radius: 25px;     
    margin: 15px 20px;       
    justify-content: center;
    line-height: 1.5;        
    max-width: 1500px;        
    margin-left: auto;       
    margin-right: auto;
}


.button {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.85);
    border: 1px solid black;
    padding: 10px;           
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;       
    justify-content: center;   
    width: 82%;              
    margin: 0 auto;          
}

.button::after {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url('plane-icon.png');
    background-size: cover;
    margin-left: 8px; 
}


button:hover {
    background-color: rgba(255, 122, 0, 1); 
}

.reply {
    position: relative;
    padding: 20px;
    border-top: 1px solid #ccc;
    align-items: flex-start;
}

.reply::before {
    content: "Replies";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 0 10px;
    font-size: 12px;  
    color: #888;     
}

.reply-user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

