body {
    /* font-family: var(--font-family); */
    background-color: var(--window-background) !important;
    /* color: var(--text-color); */
}

#dashboard div {
    background-color: var(--window-background);
    color: var(--text-color);
}

.container {
    background-color: var(--window-background);
    color: var(--text-color);
}

div.container-fluid {
    max-width: 95%;
    color: var(--text-color);
}

div.row {
    margin: 10px;
    color: var(--text-color);
}

div.col-md-6 {
    width: calc(50% - 15px);
}

/* heading styling */
h2 {
    font-size: var(--title-1);
    color: var(--text-color);
}

h3 {
    font-size: var(--title-2);
    color: var(--text-color);
}

h4 {
    font-size: var(--title-3);
    color: var(--text-color);
}

#tasks-preview:hover, #project-preview:hover, #forums-preview:hover {
    cursor: pointer;
}

#tasks-preview:hover .border, #project-preview:hover .border, #forums-preview:hover .border {
    border-color: var(--accent-color) !important;
}

/* table styling */
.table {
    font-size: var(--body);
    border-color: var(--grid-color);
    background-color: var(--window-background);
}

td, #tasks-table td {
    border-left: 1px solid var(--grid-color);
    border-bottom: 1px solid var(--grid-color);
    padding: 5px;
    color: var(--text-color) !important;
    background-color: var(--window-background) !important;
}

#tasks-table td {
    background-color: var(--window-background);
}

#project-table th, #forums-table th, #tasks-table th {
    background-color: var(--window-background);
    color: var(--secondary-label-color);
    font-weight: lighter;
    border-bottom: 1px solid var(--grid-color);
    padding: 5px;
}

tr:last-child > td, #tasks-table tr:last-child > td {
    border-bottom: 0px;
}

th:first-child, td:first-child, #tasks-table td:first-child {
    border-left: 0px;
}
